<h1>
  Showing todo <%= @todo.id %>
</h1>
<p>
  Name : <%= @todo.name %>
</p>
<p>
  Description : <%= @todo.description %>
</p>

<%= link_to "Edit", edit_todo_path(@todo) %>
<br>
<%= link_to "Go back to main page", todos_path %>
